/*
Colors used:
Primary Color, secondary, etc, all shades of pink;
#F9F5F6
#F8E8EE
#FDCEDF
#F2BED1
*/
header {
  background-color: #645CAA;
  padding: 10px;
  margin: 0 auto;
  padding: 10px 5px 15px 5px;
  border-bottom: 3px solid #FFFFFF;
  text-align: center;
  padding: 10px 0; 
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #645CAA;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a:hover,
a:focus {
  color: #EBC7E8;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #BFACE0;
  color: #403F78;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #BFACE0;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #403F78;
  text-transform: uppercase;
  border: 2px solid #BFACE0;
}

.learnmore {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #BFACE0; 
  color: #403F78;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px; 
  border-radius: 3px;
  border-bottom: 2px solid #645CAA;
  /* width of the border, type, color */
  transition: 0.2s opacity;

}

#social-media-icons svg {
  width: 20px;
  height: 20px;
}

/* Layout styling */

.container {
  padding: 0 15px;
 
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { 
  padding-bottom: 25px; border-bottom: 1px solid #645CAA; 
  
}

#hero h1 {
  text-align: center; /*centers text */
}

.logo {
  max-width: 250px;
}

nav ul {
    lists-style-type: none;
    padding: 0;
  }
nav li {
    display: inline-block;
  }
nav a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #FFFFFF;
  }


#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {   /*footer*/
  background-color: #645CAA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a.contact {
  color:#FFFFFF;
}

a.skills {
  color:#FFFFFF;
}

