/*
Colors used:
Primary Color, secondary, etc, all shades of pink;
#F9F5F6
#F8E8EE
#FDCEDF
#F2BED1
*/
header {
  background-color: #DCD6D8;
  padding: 10px;
  margin: 0 auto;
  padding: 10px 5px 15px 5px;
  border-bottom: 3px solid #DCD6D8;
  text-align: center;
  padding: 10px 0;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #2C2C05;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  color: #635C4F;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #DCD6D8;
  color: #635C4F;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #635C4F;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #B0A59D;
  text-transform: uppercase;
  border: 2px solid #635C4F;
}



#social-media-icons svg {
  width: 20px;
  height: 20px;
}

/* Layout styling */

.container {
  padding: 0 15px;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */

}



.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #645CAA;

}

#hero h1 {
  text-align: center;
  /*centers text */
}

.logo {
  max-width: 250px;
}

nav ul {
  lists-style-type: none;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #FFFFFF;
}


#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#contact {
  /*footer*/
  background-color: #DCD6D8;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

a.contact {
  color: #FFFFFF;
}

a.skills {
  color: #FFFFFF;
}

/* ==============================
Sun and clouds
================================= */
@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: center;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {}

  body {
    font-size: 18px;
  }

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  #about-body h3 {
    margin-top: 0;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {}

  body {
    font-size: 24px;
  }

  #hero span {
    display: block;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%
  }

  [class*="col-"] {
    float: left;
    padding: 10px
  }

  #about-body h3 {
    margin-top: 0;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {}

