body {
    background-color: #FFF5E4;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-size 16px;
    font-weight: 300px;
    line-height: 1.6em;
}
 h1 {
    font-size: 2.75em;
    font-weight: 700;
 }
 h2 {
    font-size: 2.25em;
    font-weight: 700;
 }
 h3 {
    font-size: 1.75em;
    font-weight: 400;
 }
 h4 {
    font-size: 1.35em;
    font-weight: 400;
 }
 img{ width:100%}
 a {
    color: #FF9494;
    text-decoration: none; 
  }
  a:visited { 
    color: #ff7f50;
  }
  a:hover,
  a:focus {
    color: #025464;
    text-decoration: underline; 
  }
  a:focus {
    color: #E8AA42;
    text-decoration: underline;
  }
  a:active { 
    color: #994c30;
  }
/* 
colors used:
primary color: offwhite, #FFF5E4, rgb(255, 245, 228) 
secondary color: pale pink, #FFE3E1, rgb(255, 227, 225)
tertiary colors: darker pink and dark salmon, 
#FFD1D1, rgb(255, 209, 209)
#FF9494, rgb(255, 148, 148)
*/